training4-american-ws/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a3c32e38-20a0-4735-b1d0-882f14c92b8a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="fdffc129-8f0c-4d0d-976f-aba11d6cdf58" >
		<db:my-sql-connection host="mudb.mule-training.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getFlights" doc:id="42812399-09a2-4b4b-94c4-e7a7e85b23f8">
		<http:listener doc:name="Listener" doc:id="b89acc19-8363-4596-9f64-7725c18d3850" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="9e8da3e9-8742-4202-9939-cd91a10a6a89" config-ref="Database_Config">
			<db:sql><![CDATA[Select * From american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="f1947598-7de7-43ad-8d18-6f87cc7110c4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: trim ( (payload01.code1 default "") ++ (payload01.code2 default "") ),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.toAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightsByID" doc:id="0d14665c-9616-4a68-89af-42ca749a4d47" >
		<http:listener doc:name="Listener" doc:id="42d58993-de10-4c05-804c-934a2688405d" config-ref="HTTP_Listener_config" path="/flights/{ID}" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="d51977e5-8263-4c1f-bcbb-d2a084cb26e6" config-ref="Database_Config">
			<db:sql><![CDATA[Select * From american Where ID = :ID
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		
</db:select>
		<ee:transform doc:name="Transform Message" doc:id="18830db4-500a-4cd1-83cb-c59247550e02">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: trim ( (payload01.code1 default "") ++ (payload01.code2 default "") ),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.toAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlight" doc:id="fe7559b4-6321-4156-89d7-dd2c3de0d69b" >
		<http:listener doc:name="Listener" doc:id="4f1003f9-2035-4654-809e-3daaf27b0995" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="POST"/>
		<set-payload value='{"message" : "Flight added (but not really)"}' doc:name="Set Payload" doc:id="0d74e178-5960-4d41-be69-f7b0af7083cd" />
	</flow>
</mule>
