BlockBustersAPI/src/main/mule/domain/movies.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	
	
	<flow name="get-all-movies-db" doc:id="b650f5f8-26b5-4739-b8e1-79d66da63f6c">
        <db:select doc:name="Select" doc:id="ebb7530c-913c-4028-b858-175e783e04fd" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM MOVIES]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    
</flow>
    <flow name="get-movie-by-id-db" doc:id="70ec6dcf-ea92-40f4-a2e3-b9e9eb89e5dd">
        <db:select doc:name="Select" doc:id="f33b8918-1228-4a42-8daf-a0e91e75001f" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM MOVIES
Where id = :ID

]]></db:sql>
			<db:input-parameters><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    
</flow>
    <flow name="post-movie-db" doc:id="943b08c7-8bd6-4593-a768-2912f69ca171">
        <ee:transform doc:name="Transform Message">
            <ee:message>
				<ee:set-payload resource="dwls/set-post-movies.dwl" />
            
</ee:message>
        </ee:transform>
		<db:insert doc:name="Insert" doc:id="ad961ba6-61d3-4814-b6e3-db6dd308053b" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO movies (title,director,stock,price)
VALUES (:title,:director,:stock,:price)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
'title' : payload.title,
'director' : payload.director,
'stock' : payload.stock,
'price':payload.price
}]]]></db:input-parameters>
		</db:insert>
    
</flow>
	</mule>
